.study-browser
  float: left
  height: 100%
  width: 100%
  overflow: hidden
  background-color: black
  padding-bottom: 20px
  padding-top: 10px

  .scrollButtons
    display: flex
    .upButton
      color: white
      text-align: center
      font-weight: bold
      width 50%
      .scrollButton
        color: whitesmoke
        font-weight: 1000
        font-size: 20pt
        border: 2px solid  #57efa1
        width: 70%
        border-radius: 5px
        background-color:  #57efa1

    .downButton
      color: white
      text-align: center
      font-weight: bold
      width: 50%
      .scrollButton
        color: whitesmoke
        font-weight: 1000
        font-size: 20pt;
        border: 2px solid #57efa1
        width: 70%
        border-radius: 5px
        background-color:  #57efa1

  .scrollable-study-thumbnails
    height: 95%
    overflow-y: auto
    overflow-x: hidden
    padding-bottom: 50px
    padding-right: 16px
    padding-left: 4px
    margin-right: -16px

    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar
      display: none

    .thumbnail-container
      margin: 0 auto;
      padding-bottom: 1.5rem;

      .noselect
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
        -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
        -webkit-user-select: none; /* Chrome, Safari, and Opera */
        -webkit-touch-callout: none; /* Disable Android and iOS callouts*/


.draggable
  cursor: copy
  cursor: -webkit-grab
  cursor: -moz-grab
